title = 'Memo !'
!!!
html
    head
        title= title
        link(rel='stylesheet', href='/stylesheets/style.css')
    //body!= body
    body
        block header
        block content
            p this the content
        block footer
            p this is the footer
