extends tpls/layout

block header
    h1 Memo's layout Test

block content
    ul
        li line1
        li line2
        li line3

block footer
    p @memo

block script_foot
    script
        document.write('Hello world');
        console.log('test');
