extends tpls/media

block script_head
    script(src='localhost:8765//socket.io/socket.io.js')

block css
    link(rel='stylesheet', href='/stylesheets/o2o.css')

block header
    h1 #{user.name} 的会话

block video
    video()

block canvas
//    canvas(width='800px', height='600px')

block message_box
    #o2o-msg-box

block script_foot
    script
        console.log('script');
        console.log('script');
        console.log('script');
        console.log('script');
